<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header bg-primary">
                File Upload Form
            </h5>
            <div class="card-body">
                {{!Notice the multipart/form-data enctype, and the POST method. File uploads won't work otherwise!}}
                <form enctype="multipart/form-data" method="POST" action="/">
                    <div class="form-group">
                        <label for="simpleName">Name</label>
                        <input class="form-control" type="text" id="simpleName" name="simpleName">
                    </div>
                    <div class="form-group">
                        <label for="simpleEmail">Email</label>
                        <input class="form-control" type="email" id="simpleEmail" name="simpleEmail">
                    </div>
                    <div class="form-group">
                        <label for="fileUpload">File Upload</label>
                        {{!-- This is the control that lets us upload files. The "accept"
                        attribute helps us control what types of files can be uploaded. --}}
                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.bmp,.png">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>